body 
{ 
    background-color: #fff; color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 200px;
}